*
.body{
  margin-top: 130px;
  display: flex;
  width: 100%;
  height: auto;
 
  
  
  
}
.infobody{
  width: 0%;
  max-width: 500px;
  min-width: 0px;
  height: 100%;
  border-radius: 5px;
  padding:5px;
  margin-top: -205px;
  
}
.mapbody{
  padding:5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin-inline: 5px;
  background-color: black;
  overflow: scroll;
  max-height: 800px;
  max-width: 100%;
  z-index: 2;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
                                border-width: 8px;
  padding:5px; /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-image-source: url('../components/borders/blueborder2.png'); 
  border-image-slice: 4 4 4 4; 
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: sans-serif;
  margin-top: -200px;
 


}
.maptitle{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: absolute;
  top:1055px;
  left: 5px;
  z-index: 999;
  
  
}

.mapcontainer{
  display: flex;
  height: fit-content;
  width: fit-content;
 
  
  
}

.mapgrid {
 
  display: grid;
  grid-template-columns: repeat(64, 1fr); 
  grid-template-rows: repeat(64, 1fr); 
  
  z-index: 1;
}

.gridItem {
  width: 60px; 
  height: 60px; 
  background-size: cover; 
  border:1px solid rgba(236, 233, 233, 0.418);
  color: rgba(236, 233, 233, 0.418);
  font-size: 10px;
  justify-content: end;
  align-items: end;
  display: flex;
  
}
.gridPlayer {
  width: 60px; 
  height: 60px; 
  background-size: cover; 
  background-color: rgba(199, 197, 197, 0.445);
  font-size: 12px;
}
.overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 60px; 
  height: 60px;  
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px; 
}

.slider {
  -webkit-appearance: none; /* Hide the default slider */
  appearance: none;
  width: 90%; /* Full-width */
  height: 0.5rem; /* Set a height */
  border-radius: 0.25rem; /* Roundness of the slider track */
  background: rgb(17, 8, 8); /* Track color */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for the track) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove the default thumb */
  appearance: none;
  width: 1rem; /* Set a specific slider handle width */
  height: 1rem; /* Slider handle height */
  border-radius: 50%; /* Roundness of the thumb */
  background: white; /* Thumb color */
  cursor: pointer; /* Cursor on hover */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: .2s;
}

.slider::-moz-range-thumb {
  width: 1rem; /* Set a specific slider handle width */
  height: 1rem; /* Slider handle height */
  border-radius: 50%; /* Roundness of the thumb */
  background: white; /* Thumb color */
  cursor: pointer; /* Cursor on hover */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: .2s;
}
input[id="barm"] { 
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 200px;
  cursor: pointer;
  border-radius: 0; /* iOS */
  border:5px solid black;
}

input[id="barm"]::-webkit-slider-runnable-track {
  background: black;
  cursor: default;
}

input[id="barm"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* 1 */
  height:40px;
  background: dodgerblue;
  box-shadow: -200px 0 0 200px dodgerblue; 
  
 
  
}

input[id="barm"]::-moz-range-track {
  height: 40px;
  background: #ddd;
  
}

input[id="barm"]::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px; /* 1 */
  border: 3px solid #999; /* 1 */
  border-radius: 0 !important;
  box-shadow: -200px 0 0 200px dodgerblue;
  box-sizing: border-box;
  
}

input[id="barm"]::-ms-fill-lower { 
  background: dodgerblue;
}

input[id="barm"]::-ms-thumb { 

  display: none !important;
}

input[id="barm"]::-ms-ticks-after { 
  display: none; 
}

input[id="barm"]::-ms-ticks-before { 
  display: none; 
}

input[id="barm"]::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
  
}

input[id="barm"]::-ms-tooltip { 
  display: none;
}

















input[id="barh"] { 
  margin: auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 200px;
  cursor: pointer;
  border-radius: 0; /* iOS */
  border:5px solid black;
}

input[id="barh"]::-webkit-slider-runnable-track {
  background: black;
  cursor: default;
}

input[id="barh"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; /* 1 */
  height:40px;
  background: red;
  box-shadow: -200px 0 0 200px red; 
  
 
  
}

input[id="barh"]::-moz-range-track {
  height: 40px;
  background: #ddd;
  
}

input[id="barh"]::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px; /* 1 */
  border: 3px solid #999; /* 1 */
  border-radius: 0 !important;
  box-shadow: -200px 0 0 200px dodgerblue;
  box-sizing: border-box;
  
}

input[id="barh"]::-ms-fill-lower { 
  background: dodgerblue;
}

input[id="barh"]::-ms-thumb { 

  display: none !important;
}

input[id="barh"]::-ms-ticks-after { 
  display: none; 
}

input[id="barh"]::-ms-ticks-before { 
  display: none; 
}

input[id="barh"]::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none;
  
}

input[id="barh"]::-ms-tooltip { 
  display: none;
}
.slots{
  border:4px solid rgb(180, 133, 46);
  padding:5px;
  box-shadow:0 0 5px 5px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(233, 214, 178);
  
}
.slotsinv{
  border:4px solid rgb(46, 82, 180);
  padding:5px;
  box-shadow:2px 2px 5px 2px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(178, 213, 254);
  font-family: Arial, Helvetica, sans-serif;
  
}

.rpgdiv1 {
  border-width: 8px;
  padding:5px; /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-image-source: url('../components/borders/blueborder.png');   border-image-slice: 4 4 4 4; 
  background-color:  #1e0b1d;
  color:white;
  font-weight: bold;
  font-family: sans-serif;

}


.customScrollDiv::-webkit-scrollbar-track {
  background: black; /* Scrollbar track color */
}

.customScrollDiv::-webkit-scrollbar-thumb {
  background: grey; /* Scrollbar thumb color */
  
}

.customScrollDiv::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Firefox */
.customScrollDiv {
  scrollbar-width:auto;
  scrollbar-color: rgb(241, 241, 241) black;

  
}

.medievalsharp{
  font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
}

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100px;
  margin: 5px;
  max-height: 100px;
  
}



.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right,
  #1f3835 0%,
  #1b534c 22%,
  #196e64 72%,
  #138679 100%);
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(24, 53%, 48%);
  padding: 5px;
  color: white;
  font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  text-align: center;
  border-width: 8px;
  padding:5px; /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-image-source: url('../components/borders/blueborder3.png'); 
  border-image-slice: 4 4 4 4; 
  background-color: #1b534c;
  font-weight: bold;
  font-family: sans-serif;
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}


.rpgdiv3 {
  border-width: 8px;
  padding:5px; /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-image-source: url('https://cdn.discordapp.com/attachments/643258663917715472/1229888250265468949/corobatido.png?ex=663151b1&is=661edcb1&hm=667cc6cf07ca58658709c02eae4c57382f8c45e202441075e77768c1de2c6775&'); 
  border-image-slice: 4 4 4 4; 
  background-color: rgb(173, 128, 61);
  font-weight: bold;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.rpgdiv4 {
  border-width: 8px;
  padding:5px; /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-image-source: url('../components/borders/blueborder.png'); 
  border-image-slice: 4 4 4 4; 
  background-color:  #1e0b1d;
  color:white;
  font-weight: bold;
  font-family: sans-serif;

}

.rpgdiv5 {
  border-width: 8px;
  padding:5px; /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-image-source: url('../components/borders/blueborder.png'); 
  border-image-slice: 6 9 6 9; 
  background-color:  #1e0b1d;
  
  font-weight: bold;
  font-family: sans-serif;
  color:white;

}

.rpgdiv7 {
  border-width: 8px;
  padding:5px; /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-image-source: url('../components/borders/greenborder1.png'); 
  border-image-slice: 6 9 6 9; 
  background-color:  #1e0b1d;
  
  font-weight: bold;
  font-family: sans-serif;
  color:white;

}

.pushable2 {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 200px;
  margin: 5px;
  max-height: 100px;
  
}



.edge2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right,
  #1f3835 0%,
  #1b534c 22%,
  #196e64 72%,
  #138679 100%);
}

.front2 {
  display: block;
  position: relative;
  border-radius: 15px;
  background: hsl(24, 53%, 48%);
  padding: 5px;
  color: white;
  font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  text-align: center;
  border-width: 8px;
  padding:5px; /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-image-source: url('../components/borders/greenborder1.png'); 
  border-image-slice: 8 8 8 8; 
  background-color: #51344f;
  font-weight: bold;
  font-family: sans-serif;

}

.pushable2:hover {
  filter: brightness(110%);
}

.pushable2:hover .front2 {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable2:active .front2 {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable2:hover .shadow2 {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable2:active .shadow2 {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable2:focus:not(:focus-visible) {
  outline: none;
}