.body {
  display: flex;
  top: 0;
  margin-bottom: 230px;
  top: 0;

}

.rpgdiv1 {
  border-width: 8px;
  padding: 5px;
  /* Largura da borda */
  border-style: solid;
  /* Estilo da borda */
  border-image-source: url('https://cdn.discordapp.com/attachments/643258663917715472/1230211109869584425/borda_pro_serra_dtonee.png?ex=66327e60&is=66200960&hm=551c99c57360faf56201864595788302990b0192a29d5f949f4562a9dbdbe7f2&');
  border-image-slice: 9 9 9 9;
  background-color: rgb(167, 156, 143);
  font-weight: bold;
  font-family: sans-serif;

}


/* buttons */

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  max-width: 100px;
  margin: 5px;
  max-height: 100px;
  
}



.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right,
      hsl(29, 98%, 21%) 0%,
      hsl(32, 99%, 30%) 22%,
      hsl(34, 97%, 31%) 72%,
      hsl(34, 100%, 15%) 100%);
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(24, 53%, 48%);
  padding: 5px;
  color: white;
  font-family: "MedievalSharp", cursive;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 2px;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
  text-align: center;
  border-width: 8px;
  padding:5px; /* Largura da borda */
  border-style: solid; /* Estilo da borda */
  border-image-source: url('https://ronenness.github.io/RPGUI/rpgui/img/border-image-golden.png'); 
  border-image-slice: 4 4 4 4; 
  background-color: rgb(173, 128, 61);
  font-weight: bold;
  font-family: sans-serif;
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}